* {
  box-sizing: border-box;
  margin: 10px;
  font-family: monospace;
  font-size: 16px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: rgb(255, 227, 233);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.progress-bar-start {
  margin: 0px;
  position: relative;
  top: 30px;
  width: 400px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.progress-bar {
  margin: 0;
  position: absolute;
  background-color: rgb(145, 245, 106);
  height: 50px;
  width: 0;
  border-radius: 25px;
}

.redalert {
  color: red;
}

.button-wrapper {
  margin-top: 30px;
}

.dough-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(2, 70px);
  /* justify-content: center; */
  align-items: center;
}

.oven-wrapper {
  text-align: center;
}

.dough {
  margin: 10px;
  align-self: center;
  justify-self: center;
  width: var(--my-width, 60px);
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 223, 159);
  border: 10px solid rgb(255, 223, 159);
  cursor: pointer;
}

.cookie {
  background-color: rgb(255, 223, 159);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.oven {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 5px solid rgb(224, 172, 197);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.oven-item {
  border: 5px solid rgb(145, 145, 145);
  margin: 0;
  background-color: rgb(194, 187, 187);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(224, 170, 209);
  border: 0px;
  margin: 20px;
  padding: 20px;
  border-radius: 14px;
  font-size: 16px;
}

button:hover {
  background-color: rgb(172, 90, 128);
  color: white;
}

button:active {
  background-color: rgb(153, 62, 104);
}
